header{
    border-bottom:solid;
    border-color: rgb(0, 248, 248);
    margin-bottom: 0px;
}

h1{
    text-shadow: 5px 5px 10px;
    color:rgb(3, 39, 75);
    font-family:Arial, Helvetica, sans-serif;
    border-style: hidden;
}

body{
    margin: 0px;
}

.navbar{
    background-color:rgb(0, 248, 248);
    border-top: solid;
    border-bottom: solid;
    border-color: rgb(0, 140, 255);
    margin: 0px;
    padding: 0px;

}

.navbar ul{
    list-style-type: none;
    background-color:rgb(0, 248, 248);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 30px;
    margin: 0px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color:rgb(0, 119, 255);
}

.navbar li{
    float: left;
}

.usertable{
    background-color: aliceblue;
    border-color: blue;

}

.usertable th{
    background-color: aqua;

}

.usertable td{
    background-color: aliceblue;
    
}

.parkbutton{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    text-decoration: white;
    background-color: aqua;
    border-style: double;
}

.piechart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}